/*login/register form starts */
:root{
    --input-background-color-focus:#c0f3fb7a;
    --mobile-scale-width:360px;
    --desktop-scale-width:600px;
    --tablet-scale-width:500px;
    --interface-color:#658269;
}



.main__auth {
    background-color: #ffffff;
    width: var(--desktop-scale-width);
    max-height: fit-content;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #5ea252;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 100%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
}

.lbl {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 0.75em;
}

.errMsg {
    text-wrap: wrap;
    max-width: 80%;
    margin: 30px auto 0px auto;
    text-align: center;
}

form.auth {
    display: flex;
    flex-direction: column;
}

.pass {
    width:100%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
}

.un:focus,
.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    background-color: var(--input-background-color-focus);
}

.submit {
    width: 100%;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #c9d8c6, var(--interface-color));
    border: 0;
    padding:15px 40px;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.disabled {
    width: 100%;
    cursor: not-allowed;
    background: #aaaaaa;
    border-radius: 5em;
    color: #fff;
    border: 0;
    padding:15px 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: var(--interface-color);
    padding-top: 10px;
    padding-bottom:10px;
}

.line__link{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: var(--interface-color);
    text-decoration: none
}

.hide{
    display:none
}

.valid{
    color:rgb(74, 248, 74);
}

.invalid{
    color:rgb(254, 112, 112);
}

.instructions{
    padding: 0.5em;
    border-radius: 5px;
    font-size:small;
    background-color:rgba(0, 0, 0, 0.709);
    color:white;
}


@media (max-width: 992px) {
    .main__auth {
        width: var(--tablet-scale-width);
    }
    .pass, .un, .submit{
        font-size: 16px;
    }
    .lbl{
        font-size: 16px;
    }

}
@media (max-width:480px) {
    .main__auth{
        width: var(--mobile-scale-width);
    }
    .pass, .un, .submit{
        font-size: 14px;
    }
    .lbl{
        font-size: 14px;
    }
}